<script src="/javascripts/controllers/apps.controller.js"></script>
<div class="container-fluid pt-4 px-4" ng-controller="AppsController">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="form-floating mb-3">
                            <input type="text" ng-model="appdata.acccount_name" class="form-control" id="acccount_name_id" placeholder="Account Name" name="acccount_name">
                            <label for="acccount_name_id">Account Name *</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="package_name_id" placeholder="Package Name" ng-model="appdata.package_name">
                            <label for="package_name_id">Package Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="banner_ADS_id" placeholder="Banner ADS" ng-model="appdata.banner_ADS">
                            <label for="banner_ADS_id">Banner ADS</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="native_ADS_id" placeholder="Native ADS" ng-model="appdata.native_ADS">
                            <label for="native_ADS_id">Native ADS</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="VPN_key_id" placeholder="VPN Key" ng-model="appdata.VPN_key">
                            <label for="VPN_key_id">VPN Key</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="priority_id" placeholder="Priority" ng-model="appdata.priority">
                            <label for="priority_id">Priority</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="application_name_id" placeholder="Application Name" ng-model="appdata.application_name">
                            <label for="application_name_id">Application Name *</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="app_open_ads_id" placeholder="App Open Ads" ng-model="appdata.app_open_ads">
                            <label for="app_open_ads_id">App Open Ads</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="interstitial_ADS_id" placeholder="Interstitial ADS" ng-model="appdata.interstitial_ADS">
                            <label for="interstitial_ADS_id">Interstitial ADS</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="rewarded_ADS_id" placeholder="Rewarded ADS" ng-model="appdata.rewarded_ADS">
                            <label for="rewarded_ADS_id">Rewarded ADS</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="web_URL_id" placeholder="Web URL" ng-model="appdata.web_URL">
                            <label for="web_URL_id">Web URL</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Privacy Policy"
                                id="privacy_policy_id" style="height: 150px;" ng-model="appdata.privacy_policy"></textarea>
                            <label for="privacy_policy_id">Privacy-Policy</label>
                        </div>
                    </div>
                </div>
               
                <div class="col-sm-12 col-xl-12 justify-content-end d-flex">
                    <div class="rounded h-100 pt-4">
                        <div class="m-n2">
                            <button type="button" class="btn btn-danger m-2">Cancle</button>
                            <button type="button" class="btn btn-info m-2" ng-click="create()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>