<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="acccount_name" placeholder="Account Name" ng-model="acccount_name">
                            <label for="acccount_name">Account Name *</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="package_name" placeholder="Package Name" ng-model="package_name">
                            <label for="package_name">Package Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="banner_ADS" placeholder="Banner ADS" ng-model="banner_ADS">
                            <label for="banner_ADS">Banner ADS</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="native_ADS" placeholder="Native ADS" ng-model="native_ADS">
                            <label for="native_ADS">Native ADS</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="VPN_key" placeholder="VPN Key" ng-model="VPN_key">
                            <label for="VPN_key">VPN Key</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="priority" placeholder="Priority" ng-model="priority">
                            <label for="priority">Priority</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="application_name" placeholder="Application Name" ng-model="application_name">
                            <label for="application_name">Application Name *</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="app_open_ads" placeholder="App Open Ads" ng-model="app_open_ads">
                            <label for="app_open_ads">App Open Ads</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="interstitial_ADS" placeholder="Interstitial ADS" ng-model="interstitial_ADS">
                            <label for="interstitial_ADS">Interstitial ADS</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="rewarded_ADS" placeholder="Rewarded ADS" ng-model="rewarded_ADS">
                            <label for="rewarded_ADS">Rewarded ADS</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="web_URL" placeholder="Web URL" ng-model="web_URL">
                            <label for="web_URL">Web URL</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Privacy Policy"
                                id="privacy_policy" style="height: 150px;" ng-model="privacy_policy"></textarea>
                            <label for="privacy_policy">Privacy-Policy</label>
                        </div>
                    </div>
                </div>
               
                <div class="col-sm-12 col-xl-12 justify-content-end d-flex">
                    <div class="rounded h-100 pt-4">
                        <div class="m-n2">
                            <button type="button" class="btn btn-danger m-2">Cancle</button>
                            <button type="button" class="btn btn-info m-2">Save</button>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
       
    </div>
</div>