<script src="/javascripts/controllers/apps.controller.js"></script>
<div class="container-fluid pt-4 px-4" ng-controller="AppsController">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class=" row bg-secondary rounded h-100 p-4">
                <div class="m-n2 col-sm-4">
                    <input type="text" class="form-control form-control-lg bg-dark border-0" ng-keyup="onSearch()"
                        placeholder="Search" ng-model="search" />
                </div>
                <div class="m-n2 col-sm-4">
                    <select class="form-control form-control-lg bg-dark border-0" ng-model="limit"
                        ng-change="onLimitChange()">
                        <option value="10" selected>10 per page</option>
                        <option value="25">25 per page</option>
                        <option value="50">50 per page</option>
                        <option value="100">100 per page</option>
                        <option value="200">200 per page</option>
                    </select>
                </div>
                <div class="m-n2 col-sm-4">
                    <button type="button" class="btn btn-primary m-2" ng-click="addNew()">Add New App</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Applications List</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Acc Name</th>
                                <th scope="col">App Name</th>
                                <th scope="col">Pac. Name</th>
                                <th scope="col">Adx S1</th>
                                <th scope="col">Adx S2</th>
                                <th scope="col">Adx S3</th>
                                <th scope="col">VPN S</th>
                                <th scope="col">WU S</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="mapp in apps.docs">
                                <th scope="row">{{ (page - 1) * limit + $index + 1 }}</th>
                                <td>{{ mapp.acccount_name }}</td>
                                <td>{{ mapp.application_name }}</td>
                                <td>{{ mapp.package_name }}</td>
                                <td> 
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" ng-model="mapp.adx_status_1" id="adx_status_1" ng-change="changeadx_status_1(mapp)">
                                    </div>
                                </td>
                                <td> 
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" ng-model="mapp.adx_status_2" id="adx_status_2" ng-change="changeadx_status_2(mapp)">
                                    </div>
                                </td>
                                <td> 
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" ng-model="mapp.adx_status_3" id="adx_status_3" ng-change="changeadx_status_3(mapp)">
                                    </div>
                                </td>
                                <td> 
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" ng-model="mapp.vpn_status" id="vpn_status" ng-change="changevpn_status(mapp)">
                                    </div>
                                </td>
                                <td> 
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" ng-model="mapp.web_url_status" id="web_url_status" ng-change="changeweb_url_status(mapp)">
                                    </div>
                                </td>
                                <td> 
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" ng-model="mapp.all_status" id="all_status" ng-change="changeall_status(mapp)">
                                    </div>
                                </td>
                                <td>
                                    <a href="/apps/edit?aid={{mapp._id}}"><button type="button" class="btn btn-square btn-outline-info"><i class="fa fa-edit"></i></button></a>
                                    <button type="button" class="btn btn-square btn-outline-primary" ng-click="removeapp(mapp._id)"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="btn-toolbar" role="toolbar">
                    <ul class="pagination justify-content-end">
                        <li class="bg-dark page-item {{ page == 1 ? 'disabled' : '' }}">
                            <a class="page-link" style="cursor: pointer" tabindex="-1" aria-disabled="true"
                                ng-click="switchPage(1)">First</a>
                        </li>
                        <li class="bg-dark page-item {{ apps.hasPrevPage ? '' : 'disabled' }}">
                            <a class="page-link" style="cursor: pointer"
                                ng-click="switchPage(apps.prevPage)" tabindex="-1"
                                aria-disabled="true">Previous</a>
                        </li>
                        <li class="bg-dark page-item {{ page == n ? 'active' : '' }} {{n==0?'disabled':''}}"
                            ng-repeat="n in pageNumberList track by $index">
                            <a class="page-link" style="cursor: pointer" ng-click="switchPage(n)">
                                {{ (n != 0) ? n : '...' }}
                            </a>
                        </li>
                        <li class="bg-dark page-item {{ apps.hasNextPage ? '' : 'disabled' }}">
                            <a class="page-link" style="cursor: pointer"
                                ng-click="switchPage(apps.nextPage)">Next</a>
                        </li>
                        <li class="bg-dark page-item {{ page == apps.totalPages ? 'disabled' : '' }}">
                            <a class="page-link" style="cursor: pointer"
                                ng-click="switchPage(apps.totalPages)">Last</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>